.app {
  display: flex;
  height: 100vh;
  font-family: sans-serif;
}

.sidebar {
  width: 30%;
  border-right: 1px solid #ddd;
  padding: 20px;
  box-sizing: border-box;
  background: #f9f9f9;
}

.content {
  width: 70%;
  padding: 40px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

/* Sidebar header */
.sidebar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

/* Add button */
.add-btn {
  width: 32px;
  height: 32px;
  font-size: 20px;
  cursor: pointer;
}

/* Notes list */
ul {
  list-style: none;
  padding: 0;
}

li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px;
  border-radius: 6px;
}

li:hover {
  background: #eee;
}

li.active {
  background: #ddd;
  font-weight: bold;
}

li span {
  flex: 1;
  cursor: pointer;
}

.delete-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 14px;
  opacity: 0.5;
}

.delete-btn:hover {
  opacity: 1;
  color: red;
}

/* Editor */
.title-input {
  font-size: 22px;
  padding: 8px;
}

.content-input {
  padding: 10px;
  font-size: 14px;
}

.save-btn {
  width: 110px;
  padding: 10px;

  border: 1px solid #ccc;
  border-radius: 8px;

  background: white;
  cursor: pointer;

  font-size: 14px;
  transition: all 0.2s ease;
}

.save-btn:hover {
  background: #f3f3f3;
  border-color: #999;
}

.save-btn:active {
  transform: scale(0.98);
}